<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @user.nome %></h1>
    <p>
      Aqui está o link para o documento o qual a sua assinatura é requisitada: <%= @request %>.<br>
    </p>
  </body>
</html>